@inherits ReportsComponent

<div class="row" style="background-color: #8f9ea5;">
    <div class="col-6 float-left border">
        @if (show)
        {
            <button class="p-0 btn btn-sm" @onclick="(()=>show = false)">-</button>
        }
        else
        {
            <button class="p-0 btn btn-sm" @onclick="(()=>show = true)">+</button>
        }

        <lable>@Supplier.OrganizationName</lable>
    </div>
    <div class="col-2 border">
        @Materials.Sum(d => d.Count)
    </div>
    <div class="col-2 border">

    </div>
    <div class="col-2 border">

    </div>
</div>

@if (show)
{
    @foreach (var material in Materials)
    {
        <div class="row" style="background-color:#d9dede">
            <div class="col-6 border pl-5">
                @material.Material?.Name
            </div>
            <div class="col-2 border">
                @material.Count
            </div>
            <div class="col-2 border">
                @material.DocumentNumber
            </div>
            <div class="col-2 border">
                @material.DocumentDate.ToString("dd.MM.yyyy HH:mm")
            </div>
        </div>
    }
}