@page "/orders-to-suppliers/{id:int}"
@page "/orders-to-suppliers/new"
@inherits DocumentComponentBase

@if (isLoad)
{
    <h3>Заказ поставщику</h3>

    <div class="row pb-2">
        <div class="col-2">
            <button class="btn btn-outline-secondary btn-sm w-100" @onclick="Save">Сохранить</button>
        </div>
        @if (Id != 0)
        {
            <div class="col-2">
                <button class="btn btn-outline-secondary btn-sm w-100" @onclick="Remove">Удалить</button>
            </div>
        }
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Номер: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" value="@document.Number" disabled />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Дата: </label>
                <div class="col-sm-9">
                    <input type="datetime-local" format-value=@DATE_TO_PAGE_STRING_FORMAT class="form-control form-control-sm" value="@selectedDate" @onchange="ChangeDate" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Поставщик:</label>
        <div class="col-sm-9">
            <select class="form-control form-control-sm" @onchange="ChangeSelectedSupplier">
                @if (selectedSupplier == 0)
                {
                    <option selected value=0>@("<Пусто>")</option>
                }
                else
                {
                    <option value=0>@("<Пусто>")</option>
                }
                @foreach (var supplier in suppliers)
                {
                    @if (selectedSupplier == supplier.Id)
                    {
                        <option selected value=@supplier.Id>@supplier.OrganizationName</option>
                    }
                    else
                    {
                        <option value=@supplier.Id>@supplier.OrganizationName</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row pb-2">
        <div class="col">
            <button class="btn btn-sm btn-outline-secondary " @onclick="AddLine">Добавить строку</button>
        </div>
    </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th style="width:10%">№</th>
                <th>Материал</th>
                <th style="width:15%">Количестно</th>
                <th style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in document.Materials)
            {
                <tr>
                    <th>@material.Number</th>
                    <th>
                        <select class="form-control form-control-sm" @bind="@material.SelectedMaterial">
                            @if (material.SelectedMaterial == 0)
                            {
                                <option selected value=0>@("<Пусто>")</option>
                            }
                            else
                            {
                                <option value=0>@("<Пусто>")</option>
                            }
                            @foreach (var materialForList in materials)
                            {
                                @if (material.SelectedMaterial == materialForList.Id)
                                {
                                    <option selected value=@materialForList.Id>@materialForList.Name</option>
                                }
                                else
                                {
                                    <option value=@materialForList.Id>@materialForList.Name</option>
                                }
                            }
                        </select>
                    </th>
                    <th>
                        <input type="number" class="form-control form-control-sm" @onchange="((ChangeEventArgs agrs) => ChangeCount(agrs, material.Number))" value="@material.Count" min="0" />
                    </th>
                    <th>
                        <div class="row float-right">
                            <div class="col-1"><button class="btn btn-sm btn-outline-secondary" title="Удалить" @onclick="(()=> Remove(material.Number))"><span class="oi oi-x"></span></button></div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <LoadComponent />
}