@page "/references-about-payments-viewer/{supplierId:int}/{beginDate:datetime}/{endDate:datetime}"
@layout EmptyLayout
@inherits ReportsComponent

@if (isLoad)
{
    <div class="container-fluid" style="max-width: 1567px">
        <div class="row">
            <div class="col">
                <table class="float-right">
                    <tr>
                        <td><p class="float-right m-0">Приложение к форме № ИНВ-17</p></td>
                    </tr>
                    <tr>
                        <td><p class="float-right m-0">Утверждена постановлением Госкомстата России</p></td>
                    </tr>
                    <tr>
                        <td><p class="float-right m-0">от 18.08.98 № 88</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row col border-bottom pt-2">
                    <p class="text-center w-100 m-0">ООО "Рога и копыта"</p>
                </div>
                <div class="row col p-0">
                    <p class="text-center w-100 m-0" style="font-size: 10px">(Организация)</p>
                </div>
                <div class="row col border-bottom pt-2">
                    <p class="text-center w-100 m-0">-</p>
                </div>

                <div class="row col p-0">
                    <p class="text-center w-100 m-0" style="font-size: 10px">(Подразделение)</p>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row col">
            <h5 class="w-100 text-center mt-5">С П Р А В К А</h5>
        </div>
        <div class="row col">
            <p class="w-100 text-center m-0">инвентаризации расчетов с покупателями,</p>
        </div>
        <div class="row col">
            <p class="w-100 text-center m-0">поставщиками и прочими дебиторами и кредиторами</p>
        </div>
        <div class="row col">
            <p class="w-100 text-center m-0">по состоянию на @GetTodayDate()</p>
        </div>

        <style>
            /* внешние границы таблицы серого цвета толщиной 1px */
            .my-table {
                border: 1px solid grey;
            }

                /* границы ячеек первого ряда таблицы */
                .my-table td {
                    border: 1px solid grey;
                }

                /* границы ячеек тела таблицы */
                .my-table td {
                    border: 1px solid grey;
                }
        </style>

        <table class="my-table mt-3">
            <tr>
                <td rowspan="2" class="text-center">
                    Номер по порядку
                </td>
                <td rowspan="2" class="text-center">
                    Наименование, адрес и номер телефона дебитора, кредитора
                </td>
                <td colspan="2" class="text-center">
                    Числится задолженность
                </td>
                <td colspan="2" class="text-center">
                    Сумма задолженности, руб. коп.
                </td>
                <td colspan="3" class="text-center">
                    Документ, подтверждающий задолженность
                </td>
            </tr>
            <tr>
                <td class="text-center" style="width: 120px">
                    за что
                </td>
                <td class="text-center" style="width: 120px">
                    дата начала
                </td>
                <td class="text-center" style="width: 120px">
                    дебиторская
                </td>
                <td class="text-center" style="width: 120px">
                    кредиторская
                </td>
                <td class="text-center" style="width: 170px">
                    наименование
                </td>
                <td class="text-center" style="width: 120px">
                    номер
                </td>
                <td class="text-center" style="width: 120px">
                    дата
                </td>
            </tr>
            @if (lines != null)
            {
                @foreach (var line in lines)
                {
                    <tr>
                        <td>@line.Number</td>
                        <td>@GetInfoAboutSupplier(line.Supplier)</td>
                        <td>@line.OutstandingBalanceAbout</td>
                        <td class="text-center">@(line.OutstandingBalanceDate == DateTime.MinValue ? "" :line.OutstandingBalanceDate.ToString("dd.MM.yyyy"))</td>
                        <td class="text-center">@(line.DebitSum == 0m ? "" : line.DebitSum.ToString("0.00"))</td>
                        <td class="text-center">@(line.CreditSum == 0m ? "" :  line.CreditSum.ToString("0.00"))</td>
                        <td>@line.DocumentName</td>
                        <td class="text-center">@line.DocumentNumber</td>
                        <td class="text-center">@line.DocumentDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            }
        </table>
        <div class="row">
            <div class="col">
                <div class="row pt-4">
                    <div class="col-2">
                        <p class="text-right w-100 m-0">Бухгалтер:</p>
                    </div>
                    <div class="col-2">
                        <div class="row col border-bottom">
                            <p class="text-center w-100 m-0">&nbsp;</p>
                        </div>
                        <div class="row col p-0">
                            <p class="text-center w-100 m-0" style="font-size: 10px">(подпись)</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row col border-bottom">
                            <p class="text-center w-100 m-0">Попова О.В.</p>
                        </div>
                        <div class="row col p-0">
                            <p class="text-center w-100 m-0" style="font-size: 10px">(расшифровка)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="float-right">Печатать с оборотом без заголовочной части. Подпись печатать на обороте.</p>
            </div>
        </div>
    </div>
}
else
{
    <LoadComponent />
}