@page "/adjustment-of-the-balance-of-materials/{id:int}"
@page "/adjustment-of-the-balance-of-materials/new"

@if (document != null)
{
    <h3>Акт о приемку товара</h3>

    <div class="row">
        <div class="col-1">
            <button class="btn btn-outline-secondary btn-sm" @onclick="Save">Сохранить</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Номер: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" value="@document.Number" disabled />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Дата: </label>
                <div class="col-sm-9">
                    <input type="datetime-local" class="form-control form-control-sm" @bind="@document.CreatedDate" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Поставщик:</label>
        <div class="col-sm-9">
            <select class="form-control form-control-sm" @bind="selectedSupplier">
                <option value=0>@("<Пусто>")</option>
                @foreach (var supplier in suppliers)
                {
                    <option value=@supplier.Id>@supplier.OrganizationName</option>
                }
            </select>
        </div>
    </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Материал</th>
                <th>Количестно</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in document.Materials)
            {
                <tr>
                    <th>@material.Number</th>
                    <th>@material.Material?.Name</th>
                    <th>@material.Count</th>
                    <th>@material.Price</th>
                    <th>@material.Sum</th>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}