@page "/suppliers/{id:int}"
@page "/suppliers/new"
@inherits SupplierPageIndex

@if (isLoad)
{
    @if (supplier != null)
    {
        <h3>Поставщик @GetDescription()</h3>

        <div class="border-bottom border-top">
            <div class="row">
                <div class="col">
                    <a href="/report-receipt-materials-by-suppliers/@supplier.Id">Отчет по поступлении материалов</a>
                </div>
            </div>
        </div>

        <form>
            @if (supplier.Id != 0)
            {
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Идентификатор: </label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" value="@supplier.Id">
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Наименование: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@supplier.OrganizationName" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">ИНН: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@supplier.INN" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">КПП: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@supplier.KPP" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Электронная почта: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@supplier.Email" />
                </div>
            </div>

            <div class="input-group row">
                <label class="col-sm-3 col-form-label">Банк: </label>
                <div class="col-sm-9 mb-3">
                    <div class="input-group ml-2">
                        <select class="custom-select custom-select-sm" @bind="selectedBank">
                            <option value=0>@("<Пусто>")</option>
                            @foreach (var bank in banks)
                            {
                                <option value=@bank.Id>@bank.Name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" type="button" @onclick="OpenBank">Открыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Расчетный счет: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@supplier.BankAccount" />
                </div>
            </div>

            <button type="button" class="btn btn-info" @onclick="Save">Сохранить</button>
        </form>
    }
}
else
{
    <LoadComponent />
}